<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Summarizer</title>
</head>
<body>
    <h1>Text Summarizer</h1>

    <form method="post">
        <label for="user_input">Enter Text:</label>
        <textarea type="text "name="user_input" id="user_input" rows="5" cols="50" required></textarea>
        <br>
        <button type="submit">Summarize</button>
    </form>

    {% if user_input %}
        <p><strong>Input Text:</strong></p>
        <p>{{ user_input | safe }}</p>
        <h2>summarization Result:</h2>        
        <p><strong> summarization_result:</strong></p>
        <p>{{ summary | safe}}</p>
    {% endif %}
</body>
</html>
